body {
	background-color: black;
  color: #00ff00;
  font-family: monospace;
}

.special {
	display: inline-block;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: spin;
    -moz-animation-duration: 5000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: spin;
    -ms-animation-duration: 5000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  }

  to {
    -webkit-transform:rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform:rotate(0deg);
  }

  to {
    -moz-transform:rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}
#headish {
  display: inline;
}

#content {
  display: inline;
  color: #d78700;
}

#trololo {
  color: #af0000;
  display: none;
}

bandcamp {
  display: none;
}

.select {
  display: inline;
  color: #005fff;
}
.blinking-cursor {
  font-weight: 100;
  color: #00ff00;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}


@media only screen and (min-device-width: 1170px){
  #art {
    display: block;
  }
  
  #fallback {
    display: none;
  }
}

@media only screen and (max-device-width: 1169px){
  #art {
    display: none;
  }
  
  #fallback {
    display: block;
  }
}